image:
  repository: itzg/minecraft-server
  tag: java21@sha256:f2fa64b78f6b726744652345a2866bc995bbefe5092d43135e247268f62dbd1a
  pullPolicy: IfNotPresent
debug: false
timezone: Europe/London
memory: 13G
version: 1.21.1
type: NEOFORGE
modPlatform: AUTO_CURSEFORGE
probes: true
curseforge:
  apiKey: "" # Set in pipeline
  pageUrl: https://www.curseforge.com/minecraft/modpacks/all-the-mods-10/files/6378501
  overrides:
    exclusions: shaderpacks/**
  extraMods:
  - https://www.curseforge.com/minecraft/mc-mods/chunky-pregenerator-forge/files/6383261
  - https://www.curseforge.com/minecraft/mc-mods/chunky-border-forge/files/5437062
  - https://www.curseforge.com/minecraft/mc-mods/bluemap/files/6239407
  - https://www.curseforge.com/minecraft/mc-mods/shutdowner/files/6128590
serverProperties:
  motd: Welcome to The Abyss!
  difficulty: normal
  whitelist: Divided23
  ops: Divided23
  seed: "777836211"
  allowFlight: true
  viewDistance: 16
  simulationDistance: 10
rcon:
  password: "" # Set in pipeline
  broadcastToOps: true
ingress:
  host: "" # Set in pipeline
resources:
  requests:
    cpu: 4
    memory: 16Gi
  limits:
    memory: 16Gi