# https://github.com/bjw-s/helm-charts/blob/a081de5/charts/library/common/values.yaml

image:
  repository: teslamate/teslamate
  tag: 1.31.1
  pullPolicy: IfNotPresent
env:
  DISABLE_MQTT: "false"
  DATABASE_HOST: postgresql
  DATABASE_USER: teslamate
  DATABASE_PASS: "" # set in CLI
  DATABASE_NAME: teslamate
  TZ: Europe/London
  MQTT_TLS: "true"
  LOCALE: en
resources:
  requests:
    cpu: 30m
    memory: 350Mi
  limits:
    memory: 350Mi
service:
  main:
    ports:
      http:
        port: 4000
ingress:
  main:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
    - paths:
      - path: /
    tls:
    - secretName: teslamate-tls
persistence:
  import:
    enabled: false
    mountPath: /opt/app/import
