replicas: 0
image:
  repository: ghcr.io/linuxserver/qbittorrent
  pullPolicy: IfNotPresent
  tag: version-4.6.0-r0@sha256:b96ad7ed83889420d5f6df311065c28ae465ce1d23ea42179f56196eb6ac4d4e
initContainer:
  image: 
    repository: busybox
    tag: stable@sha256:e246aa22ad2cbdfbd19e2a6ca2b275e26245a21920e2b2d0666324cee3f15549
    pullPolicy: IfNotPresent
gluetun:
  image:
    repository: ghcr.io/qdm12/gluetun
    tag: v3.40.0@sha256:2b42bfa046757145a5155acece417b65b4443c8033fb88661a8e9dcf7fda5a00
    pullPolicy: IfNotPresent
rclone:
  image:
    repository: rclone/rclone
    tag: 1.69.2@sha256:df9f8f0115e2816b18099c28a629e6914c84915b55aeddd2db58df8cf6b76d34
    pullPolicy: IfNotPresent
openvpn:
  user: ""
resources:
  requests:
    cpu: 5m
    memory: 256Mi
  limits:
    memory: 256Mi