# https://github.com/bjw-s/helm-charts/blob/a081de5/charts/library/common/values.yaml

image:
  repository: ghcr.io/linuxserver/qbittorrent
  pullPolicy: IfNotPresent
  tag: version-4.6.0-r0@sha256:b96ad7ed83889420d5f6df311065c28ae465ce1d23ea42179f56196eb6ac4d4e
controller:
  replicas: 0
initContainers:
  init:
    image: busybox@sha256:768e5c6f5cb6db0794eec98dc7a967f40631746c32232b78a3105fb946f3ab83
    imagePullPolicy: IfNotPresent
    command: ["/bin/sh", "-c"]
    args:
    - |
      mkdir -p /mnt/rclone/encrypted
      wget https://github.com/WDaan/VueTorrent/releases/download/v2.1.0/vuetorrent.zip -O /tmp/vuetorrent.zip
      rm -rf /vuetorrent/*
      mkdir /tmp/vuetorrent
      unzip /tmp/vuetorrent.zip -d /tmp/vuetorrent
      mv /tmp/vuetorrent/vuetorrent/* /vuetorrent
    volumeMounts:
    - name: vuetorrent
      mountPath: /vuetorrent
    - name: rclone
      mountPath: /mnt/rclone
addons:
  vpn:
    enabled: true
    gluetun:
      image:
        repository: ghcr.io/qdm12/gluetun
        tag: v3.39.1@sha256:6a8058e626763cbf735ac2f78c774dbb24fec2490bd9d9f7d67e22592cb4a991
    env:
      TZ: Europe/London
      VPN_TYPE: openvpn
      VPN_SERVICE_PROVIDER: mullvad
      OPENVPN_USER: "" # set in CLI
      SERVER_CITIES: amsterdam
      FIREWALL_INPUT_PORTS: '8080'
    livenessProbe:
      exec:
        command: 
        - /gluetun-entrypoint
        - healthcheck
      failureThreshold: 6
      initialDelaySeconds: 30
      periodSeconds: 5
      timeoutSeconds: 5
sidecars:
  rclone:
    image: rclone/rclone:1.68.2@sha256:74c51b8817e5431bd6d7ed27cb2a50d8ee78d77f6807b72a41ef6f898845942b
    imagePullPolicy: IfNotPresent
    args:
    - mount
    - azureblob-encrypted:/
    - /mnt/rclone/encrypted
    - --allow-other
    - --cache-dir
    - /rclone/cache
    - --vfs-cache-mode
    - writes
    - -v
    env:
      RCLONE_CONFIG: /rclone/config/rclone.conf
    volumeMounts:
    - name: rclone
      mountPath: /mnt/rclone
      mountPropagation: Bidirectional
    - name: rclone-config
      mountPath: /rclone/config
    - name: rclone-cache
      mountPath: /rclone/cache
    securityContext:
      privileged: true
      allowPrivilegeEscalation: true
    lifecycle:
      preStop:
        exec:
          command:
          - /bin/sh
          - -c
          - umount -l /mnt/rclone/encrypted; true
command:
  - '/bin/sh'
args:
  - '-c'
  - while ! ip link show tun0 &>/dev/null; do sleep 1; done && /init
env:
  TZ: Europe/London
service:
  main:
    ports:
      http:
        port: 8080
ingress:
  main:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
    - paths:
      - path: /
    tls:
    - secretName: qbittorrent-tls
persistence:
  config:
    enabled: true
    existingClaim: qbittorrent-config
  media:
    enabled: false
  vuetorrent:
    enabled: true
    type: emptyDir
  rclone:
    enabled: true
    type: emptyDir
    mountPath: /mnt/rclone
    mountPropagation: HostToContainer
  rclone-config:
    enabled: true
    type: secret
    name: azure-storage-account-rclone
    mountPath: '-'
  rclone-cache:
    enabled: true
    type: emptyDir
    mountPath: '-'
resources:
  requests:
    cpu: 5m
    memory: 256Mi
  limits:
    memory: 256Mi