replicas: 0
image:
  repository: ghcr.io/linuxserver/qbittorrent
  pullPolicy: IfNotPresent
  tag: version-4.6.0-r0@sha256:b96ad7ed83889420d5f6df311065c28ae465ce1d23ea42179f56196eb6ac4d4e
initContainer:
  image: 
    repository: busybox
    tag: stable
    pullPolicy: IfNotPresent
gluetun:
  image:
    repository: ghcr.io/qdm12/gluetun
    tag: v3.40.0@sha256:2b42bfa046757145a5155acece417b65b4443c8033fb88661a8e9dcf7fda5a00
    pullPolicy: IfNotPresent
rclone:
  image:
    repository: rclone/rclone
    tag: 1.69.1@sha256:600f51856285df1ae5d91c8bb2682cbbe31bf109ebeeef9ecead6ca8c0ff6138
    pullPolicy: IfNotPresent
openvpn:
  user: ""
resources:
  requests:
    cpu: 5m
    memory: 256Mi
  limits:
    memory: 256Mi