# https://github.com/bjw-s/helm-charts/blob/a081de5/charts/library/common/values.yaml

image:
  repository: ghcr.io/linuxserver/qbittorrent
  pullPolicy: IfNotPresent
  tag: version-4.6.0-r0
initContainers:
  init:
    image: busybox
    imagePullPolicy: IfNotPresent
    command: ["/bin/sh", "-c"]
    args:
    - |
      # Create empty directory for rclone mount
      mkdir -p /mnt/rclone/encrypted

      # Setup vuetorrent UI
      wget https://github.com/WDaan/VueTorrent/releases/download/v2.1.0/vuetorrent.zip -O /tmp/vuetorrent.zip
      rm -rf /vuetorrent/*
      mkdir /tmp/vuetorrent
      unzip /tmp/vuetorrent.zip -d /tmp/vuetorrent
      mv /tmp/vuetorrent/vuetorrent/* /vuetorrent
    volumeMounts:
    - name: vuetorrent
      mountPath: /vuetorrent
    - name: rclone
      mountPath: /mnt/rclone
addons:
  vpn:
    enabled: true
    gluetun:
      image:
        repository: ghcr.io/qdm12/gluetun
        tag: v3.36.0
    env:
      TZ: Europe/London
      VPN_TYPE: openvpn
      VPN_SERVICE_PROVIDER: mullvad
      OPENVPN_USER: "" # set in CLI
      SERVER_CITIES: amsterdam
      FIREWALL_INPUT_PORTS: '8080,6881'
    livenessProbe:
      exec:
        command: 
        - /gluetun-entrypoint
        - healthcheck
      failureThreshold: 6
      initialDelaySeconds: 30
      periodSeconds: 5
      timeoutSeconds: 5
sidecars:
  rclone:
    image: rclone/rclone:1.64.2
    imagePullPolicy: IfNotPresent
    args:
    - mount
    - azureblob-encrypted:/
    - /mnt/rclone/encrypted
    env:
      RCLONE_CONFIG: /config/rclone.conf
    volumeMounts:
    - name: rclone
      mountPath: /mnt/rclone
      mountPropagation: Bidirectional
    - name: rclone-config
      mountPath: /config
    securityContext:
      privileged: true
      allowPrivilegeEscalation: true
env:
  TZ: Europe/London
service:
  main:
    ports:
      http:
        port: 8080
  bittorrent:
    enabled: true
    type: LoadBalancer
    externalTrafficPolicy: Local
    annotations:
      service.beta.kubernetes.io/azure-load-balancer-resource-group: abyss
      service.beta.kubernetes.io/port_6881_no_probe_rule: 'true'
    ports:
      bittorrent:
        enabled: true
        port: 6881
        protocol: TCP
ingress:
  main:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
    - paths:
      - path: /
    tls:
    - secretName: qbittorrent-tls
persistence:
  config:
    enabled: true
    existingClaim: qbittorrent-config
  media:
    enabled: false
  vuetorrent:
    enabled: true
    type: emptyDir
  rclone:
    enabled: true
    type: emptyDir
    mountPath: /mnt/rclone
    mountPropagation: HostToContainer
  rclone-config:
    enabled: true
    type: secret
    name: azure-storage-account-rclone
    mountPath: '-'
resources:
  requests:
    cpu: 5m
    memory: 256Mi
  limits:
    memory: 256Mi