image:
  repository: adguard/adguardhome
  tag: v0.107.60@sha256:f793df60142d249f2b869e95da4516acb96104aaa799bc3efb090622964242bd
  pullPolicy: IfNotPresent
cron: "*/5 * * * *"
runOnStart: false
continueOnError: false
origin:
  url: http://192.168.68.93:58745
  username: "" # Set in pipeline
  password: "" # Set in pipeline
replica:
  username: "" # Set in pipeline
  password: "" # Set in pipeline
  autoSetup: true
syncapi:
  image:
    repository: ghcr.io/bakito/adguardhome-sync
    tag: v0.7.2@sha256:6a70246f0e66b85ef04897667c46c43cfab584f2398e197551f7042480ca96ee
    pullPolicy: IfNotPresent
  metrics:
    enabled: true
  username: "" # Set in pipeline
  password: "" # Set in pipeline
  darkMode: true
resources:
  adguardhome:
    requests:
      cpu: 30m
      memory: 256Mi
    limits:
      memory: 256Mi
  sync:
    requests:
      cpu: 5m
      memory: 256Mi
    limits:
      memory: 256Mi
