env:
  DOCKER_MODS: ghcr.io/gabe565/linuxserver-mod-vuetorrent
  TZ: Europe/London
service:
  bittorrent:
    enabled: true
    type: LoadBalancer
    externalTrafficPolicy: Local
    annotations:
      service.beta.kubernetes.io/azure-load-balancer-resource-group: abyss
      service.beta.kubernetes.io/port_6881_no_probe_rule: 'true'
ingress:
  main:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
    - paths:
      - path: /
    tls:
    - secretName: qbittorrent-tls
persistence:
  vuetorrent:
    enabled: true
    type: emptyDir
  config:
    enabled: true
    existingClaim: qbittorrent-config
  downloads:
    enabled: true
    existingClaim: qbittorrent-downloads
    mountPath: /downloads
resources:
  requests:
    cpu: 5m
    memory: 256Mi
  limits:
    memory: 256Mi