postgresql:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      namespace: monitoring
    extraEnvVars:
    - name: PG_EXPORTER_AUTO_DISCOVER_DATABASES
      value: "true"
  primary:
    resources:
      requests:
        cpu: 10m
        memory: 750Mi
      limits:
        memory: 750Mi
    persistence:
      existingClaim: postgresql
    service:
      type: LoadBalancer
      annotations:
        metallb.universe.tf/allow-shared-ip: home
  auth:
    database: postgres